<div class="h-screen flex flex-row max-w-screen min-h-full bg-gradient-to-b from-zinc-700 to-zinc-900 overflow-hidden">
    <nav class="w-1/5 h-full flex flex-col items-center justify-between py-6 bg-zinc-800">
        <div class="w-3/4 flex flex-col gap-2">
            <div class="flex flex-row justify-items-start w-full">
                <button routerLink="../../dashboard" class="p-1 rounded-full cursor-pointer hover:bg-zinc-600 hover:scale-105 transition-all ease-in-out"><img src="arrow_left.svg" alt=""></button>
            </div>
            <div (click)="routesService.goProfile(user.userId)" class="w-full flex flex-row gap-3 items-center p-3 rounded-4xl hover:contrast-125 transition-all ease-in cursor-pointer">
                <img class="w-10 h-10 rounded-full" [src]="user.profilePic || 'userDef.png'" alt="User profile photo">
                <div>
                    <p class="text-white opacity-80 font-light text-xl line-clamp-1">{{ user.username }}</p>
                </div>
            </div>
            <div class="w-full">
                <div class="flex flex-row items-center gap-1 inset-shadow-sm inset-shadow-zinc-800 w-full rounded-xl bg-zinc-700 p-3 outline-1 outline-zinc-600 text-white mb-4 focus-within:ring-2 focus-within:ring-amber-400 hover:outline-amber-400 transition-all ease-out">
                    <img class="w-4 h-4" src="search.svg">
                    <input class="bg-transparent focus:outline-none w-full placeholder-white/70" placeholder="Buscar..." type="text">
                </div>
            </div>
            <div class="w-full flex flex-col items-start gap-1">
                <button (click)="setSection('home')" class=" flex flex-row gap-3 items-center rounded-2xl p-3 w-full cursor-pointer hover:scale-105 hover:bg-neutral-900 transition-all ease-in-out">
                    <img class="w-7" src="home.svg">
                    <p class="text-white text-lg inline-block">Inicio</p>
                </button>
                <button (click)="setSection('book tracker')" class=" flex flex-row gap-3 items-center rounded-2xl p-3 w-full cursor-pointer hover:scale-105 hover:bg-neutral-900 transition-all ease-in-out">
                    <img class="w-7" src="booktracker.svg">
                    <p class="text-white text-lg inline-block">Book tracker</p>
                </button>
                <button (click)="setSection('reviews')" class=" flex flex-row gap-3 items-center rounded-2xl p-3 w-full cursor-pointer hover:scale-105 hover:bg-neutral-900 transition-all ease-in-out">
                    <img class="w-7" src="post.svg">
                    <p class="text-white text-lg inline-block">Mis publicaciones</p>
                </button>
                <button (click)="setSection('saved reviews')" class=" flex flex-row gap-3 items-center rounded-2xl p-3 w-full cursor-pointer hover:scale-105 hover:bg-neutral-900 transition-all ease-in-out">
                    <img class="w-7" src="bookmark.svg">
                    <p class="text-white text-lg text-left inline-block">Publicaciones guardadas</p>
                </button>
                <button (click)="setSection('favorite reviews')" class=" flex flex-row gap-3 items-center rounded-2xl p-3 w-full cursor-pointer hover:scale-105 hover:bg-neutral-900 transition-all ease-in-out">
                    <img class="w-7" src="favorites.svg">
                    <p class="text-white text-lg inline-block">Favoritos</p>
                </button>
            </div>
        </div>
        <div class="w-3/4 flex flex-col gap-2">
            <button class=" flex flex-row gap-3 items-center rounded-2xl p-3 w-full cursor-pointer hover:scale-105 hover:bg-neutral-900 transition-all ease-in-out">
                    <img class="w-7" src="feedback.svg">
                    <p class="text-white text-lg inline-block">Feedback</p>
            </button>
            <button routerLink="../../user-config" class=" flex flex-row gap-3 items-center rounded-2xl p-3 w-full cursor-pointer hover:scale-105 hover:bg-neutral-900 transition-all ease-in-out">
                    <img class="w-7" src="settings.svg">
                    <p class="text-white text-lg inline-block">Configuracion</p>
            </button>
        </div>
    </nav>
    <main class="w-4/5 flex flex-col gap-8 overflow-y-auto h-full ocultar-scroll">
       @if (activeSection === 'home') {
            <app-user-home></app-user-home>
       } @else if (activeSection === 'reviews') {
            <app-user-reviews></app-user-reviews>
       } @else if (activeSection === 'book tracker') {
            <app-user-book-tracker></app-user-book-tracker>
       } @else if (activeSection === 'saved reviews') {
            <app-user-saved-reviews></app-user-saved-reviews>
       } @else if (activeSection === 'favorite reviews') {
            <app-user-favorite-reviews></app-user-favorite-reviews>
       }
    </main>
</div>