<div class="p-6 flex flex-col gap-4 w-full overflow-y-auto">
    <div>
        <h1 class="text-white text-5xl font-medium pb-4">Hola, {{ user.username }}</h1>
        <h2 class="text-white text-lg opacity-80 ml-3">Bienvenido a tu espacio personal!</h2>
    </div>
    <div class="flex flex-col">
        <div class="bg-zinc-800 rounded-xl p-3 flex flex-col">
            <h3 class="text-3xl text-white font-medium p-4 mb-4">Book tracker</h3>
            <div class="flex flex-row justify-evenly">
                <section>
                    <div class="bg-amber-600 p-2 cursor-pointer rounded-lg mb-4 hover:shadow-xl/30 hover:-translate-y-3 ease-in transition">
                        <img class="rounded-2xl w-60 h-90" src="ElPrincipe.webp" alt="Titulo del libro">
                        <p class="text-white text-xl text-center">Titulo del libro</p>
                    </div>
                    <div class="flex flex-col gap-1.5 bg-zinc-900 p-2 rounded-lg">
                        <p class="text-white text-sm">Autor:</p>
                        <p class="text-white text-sm">Total de paginas: </p>
                        <p class="text-white text-sm">Genero: </p>
                        <p class="text-white text-sm">Estatus: </p>
                    </div>
                </section>
                <section>
                    <div class="bg-amber-600 p-2 cursor-pointer rounded-lg mb-4 hover:shadow-xl/30 hover:-translate-y-3 ease-in transition">
                        <img class="rounded-2xl w-60 h-90" src="ElPoderDelAhora.webp" alt="Titulo del libro">
                        <p class="text-white text-xl text-center">Titulo del libro</p>
                    </div>
                    <div class="flex flex-col gap-1.5 bg-zinc-900 p-2 rounded-lg">
                        <p class="text-white text-sm">Autor:</p>
                        <p class="text-white text-sm">Total de paginas: </p>
                        <p class="text-white text-sm">Genero: </p>
                        <p class="text-white text-sm">Estatus: </p>
                    </div>
                </section>
                <section>
                    <div class="bg-amber-600 p-2 cursor-pointer rounded-lg mb-4 hover:shadow-xl/30 hover:-translate-y-3 ease-in transition">
                        <img class="rounded-2xl w-60 h-90" src="NoMepuedesLastimar.webp" alt="Titulo del libro">
                        <p class="text-white text-xl text-center">Titulo del libro</p>
                    </div>
                    <div class="flex flex-col gap-1.5 bg-zinc-900 p-2 rounded-lg">
                        <p class="text-white text-sm">Autor:</p>
                        <p class="text-white text-sm">Total de paginas: </p>
                        <p class="text-white text-sm">Genero: </p>
                        <p class="text-white text-sm">Estatus: </p>
                    </div>
                </section>
                <section>
                    <div class="bg-amber-600 p-2 cursor-pointer rounded-lg mb-4 hover:shadow-xl/30 hover:-translate-y-3 ease-in transition">
                        <img class="rounded-2xl w-60 h-90" src="NoMepuedesLastimar.webp" alt="Titulo del libro">
                        <p class="text-white text-xl text-center">Titulo del libro</p>
                    </div>
                    <div class="flex flex-col gap-1.5 bg-zinc-900 p-2 rounded-lg">
                        <p class="text-white text-sm">Autor:</p>
                        <p class="text-white text-sm">Total de paginas: </p>
                        <p class="text-white text-sm">Genero: </p>
                        <p class="text-white text-sm">Estatus: </p>
                    </div>
                </section>
            </div>
            <div class="w-full flex justify-center mt-5">
                <button (click)="setSection('book tracker')" class="bg-amber-500 hover:bg-amber-600 text-white font-semibold px-6 py-3 rounded-full cursor-pointer shadow-lg/30 transition-all">
                    Ir a Book Tracker
                </button>
            </div>
        </div>
        <div class="mt-4 grid grid-cols-2 gap-4">
            <div class="bg-zinc-800 rounded-xl p-3 flex flex-col">
                <h3 class="text-3xl text-white font-medium p-4 mb-4">Publicaciones recientes</h3>
                @if (recentReviews.length !== 0) {
                    @for (review of recentReviews; track $index) {
                        <section class="flex flex-col gap-7 w-11/12 rounded-3xl bg-zinc-700 p-5 m-6 shadow-xl/30 hover:contrast-110 cursor-pointer transition-shadow ease-out">
                            <div (click)="routesService.goReview(review.id)">
                                <div class="flex flex-row justify-between items-center pb-3">
                                    <div (click)="routesService.goProfile(review.user_id)" class="items-center flex flex-row gap-3 pb-3">
                                        <img class="rounded-full w-13 h-13" [src]="review.profilepic_url || 'userDef.png'" alt="User profile photo">
                                        <div class="flex flex-col hover:cursor-pointer">
                                            <p class="text-white font-bold hover:underline hover:cursor-pointer">{{ review.full_name }}</p>
                                            <p class="text-white opacity-80 font-light">{{ '@' + review.username }}</p>
                                        </div>
                                    </div>
                                    @if (review.username === user.username) {
                                        <div (click)="$event.stopPropagation()" (click)="reviewActionsService.toggleMenu($index, menuToggle)" class="inline-block text-left z-100 p-3" #menuContainer>
                                            <button  class="p-2 cursor-pointer rounded-full hover:bg-zinc-800 transition-colors ease-in"><img src="more_menu.svg" alt=""></button>
                                            @if (menuToggle === $index) {
                                                <div class="absolute right-0 z-50 bg-zinc-800 text-white rounded-md shadow-lg w-48">
                                                    <ul class="py-1">
                                                        <li (click)="reviewActionsService.editReview(menuToggle, recentReviews)" class="px-4 py-2 hover:contrast-75 cursor-pointer">Editar</li>
                                                        <li (click)="reviewActionsService.delReview(menuToggle, recentReviews, user)" class="px-4 py-2 hover:contrast-75 cursor-pointer">Eliminar</li>
                                                    </ul>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                                <p class="text-white text-xl font-bold pb-2"> {{ review.title }}</p>
                                <p class="text-white opacity-85 pb-2 italic">Puntuacion: {{ review.score }} ⭐</p>
                                <p class="text-white line-clamp-15">
                                    {{ review.content }}
                                </p>
                            </div>
                            <div class="p-2">
                                    <ul class="flex flex-row gap-2">
                                        <li (click)="routesService.goReview(review.id)" class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                            <img class="w-5 h-5" src="comments.svg" alt="">
                                            <p class="text-white">{{ review.comments_count }}</p>
                                        </li>
                                        <li (click)="reviewActionsService.toggleLikeReview(review.liked_by_current_user ?? false, user.userId, review.id, recentReviews)" class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                            @if (review.liked_by_current_user) {
                                                <img src="liked.svg" alt="">
                                            } @else {
                                                <img class="w-5 h-5" src="favorites.svg" alt="">
                                            }
                                            <p class="text-white">{{ review.like_count }}</p>
                                        </li>
                                        <li (click)="reviewActionsService.toggleSaveReview(review.saved_by_current_user ?? false, user.userId, review.id, recentReviews)" class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                            @if (review.saved_by_current_user) {
                                                <img src="bookmarked.svg" alt="Icono de guardado">
                                            } @else {
                                                <img class="w-5 h-5" src="bookmarkRev.svg" alt="Icono de guardados">
                                            }
                                            <p class="text-white">{{ review.saved_count }}</p>
                                        </li>
                                    </ul>
                                </div>
                        </section>
                    }
                } @else {
                    <div class="w-full h-full flex items-center justify-center">
                        <p class="text-white text-xl text-center opacity-70 mb-4">No tienes ninguna publicacion, crea una y vealas aqui!</p>
                    </div>
                }
                <div class="w-full flex justify-center">
                    <button (click)="setSection('reviews')" class="bg-amber-500 hover:bg-amber-600 text-white font-semibold px-6 py-3 rounded-full cursor-pointer shadow-lg/30 transition-all">
                        Ver mas
                    </button>
                </div>
            </div>
            <div class="bg-zinc-800 rounded-xl p-3 flex flex-col">
                <h3 class="text-3xl text-white font-medium p-4 mb-4">Publicaciones guardadas</h3>
                @if (recentSaved.length !== 0) {
                    @for (review of recentSaved; track $index) {
                        <section class="flex flex-col gap-7 w-11/12 rounded-3xl bg-zinc-700 p-5 m-6 shadow-xl/30 hover:contrast-110 cursor-pointer transition-shadow ease-out">
                            <div (click)="routesService.goReview(review.id)">
                                <div class="flex flex-row justify-between items-center pb-3">
                                    <div (click)="routesService.goProfile(review.user_id)" class="items-center flex flex-row gap-3 pb-3">
                                        <img class="rounded-full w-13 h-13" [src]="review.profilepic_url || 'userDef.png'" alt="User profile photo">
                                        <div class="flex flex-col hover:cursor-pointer">
                                            <p class="text-white font-bold hover:underline hover:cursor-pointer">{{ review.full_name }}</p>
                                            <p class="text-white opacity-80 font-light">{{ '@' + review.username }}</p>
                                        </div>
                                    </div>
                                    @if (review.username === user.username) {
                                        <div (click)="$event.stopPropagation()" (click)="reviewActionsService.toggleMenu($index, menuToggle)" class="inline-block text-left z-100 p-3" #menuContainer>
                                            <button  class="p-2 cursor-pointer rounded-full hover:bg-zinc-800 transition-colors ease-in"><img src="more_menu.svg" alt=""></button>
                                            @if (menuToggle === $index) {
                                                <div class="absolute right-0 z-50 bg-zinc-800 text-white rounded-md shadow-lg w-48">
                                                    <ul class="py-1">
                                                        <li (click)="reviewActionsService.editReview(menuToggle, recentSaved)" class="px-4 py-2 hover:contrast-75 cursor-pointer">Editar</li>
                                                        <li (click)="reviewActionsService.delReview(menuToggle, recentSaved, user)" class="px-4 py-2 hover:contrast-75 cursor-pointer">Eliminar</li>
                                                    </ul>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                                <p class="text-white text-xl font-bold pb-2"> {{ review.title }}</p>
                                <p class="text-white opacity-85 pb-2 italic">Puntuacion: {{ review.score }} ⭐</p>
                                <p class="text-white line-clamp-15">
                                    {{ review.content }}
                                </p>
                            </div>
                            <div class="p-2">
                                    <ul class="flex flex-row gap-2">
                                        <li (click)="routesService.goReview(review.id)" class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                            <img class="w-5 h-5" src="comments.svg" alt="">
                                            <p class="text-white">{{ review.comments_count }}</p>
                                        </li>
                                        <li (click)="reviewActionsService.toggleLikeReview(review.liked_by_current_user ?? false, user.userId, review.id, recentSaved)" class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                            @if (review.liked_by_current_user) {
                                                <img src="liked.svg" alt="">
                                            } @else {
                                                <img class="w-5 h-5" src="favorites.svg" alt="">
                                            }
                                            <p class="text-white">{{ review.like_count }}</p>
                                        </li>
                                        <li (click)="reviewActionsService.toggleSaveReview(review.saved_by_current_user ?? false, user.userId, review.id, recentSaved)" class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                            @if (review.saved_by_current_user) {
                                                <img src="bookmarked.svg" alt="Icono de guardado">
                                            } @else {
                                                <img class="w-5 h-5" src="bookmarkRev.svg" alt="Icono de guardados">
                                            }
                                            <p class="text-white">{{ review.saved_count }}</p>
                                        </li>
                                    </ul>
                                </div>
                        </section>
                    }
                } @else {
                    <div class="w-full h-full flex items-center justify-center">
                        <p class="text-white text-xl text-center opacity-70 mb-4">No tienes ninguna publicacion guardada, explora y conoce la variedad de reseñas que hay!</p>
                    </div>
                }
                <div class="w-full flex justify-center">
                    <button (click)="setSection('saved reviews')" class="bg-amber-500 hover:bg-amber-600 text-white font-semibold px-6 py-3 rounded-full cursor-pointer shadow-lg/30 transition-all">
                        Ver mas
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
