<div class="bg-zinc-800 py-8">
    <ul class="flex justify-evenly items-center gap-4">
        <li class="flex flex-col items-center gap-3">
            <h3 class="text-stone-300 text-3xl pb-2">Informacion</h3>
            <a class="text-xl text-stone-400 hover:scale-105 hover:text-stone-300 hover:text-shadow-lg transition-all" href="">Sobre BookVerse</a>
            <a class="text-xl text-stone-400 hover:scale-105 hover:text-stone-300 hover:text-shadow-lg transition-all" href="">Contáctanos</a>
            <a class="text-xl text-stone-400 hover:scale-105 hover:text-stone-300 hover:text-shadow-lg transition-all" href="">Catálogo de libros</a>
            <a class="text-xl text-stone-400 hover:scale-105 hover:text-stone-300 hover:text-shadow-lg transition-all" href="">Reseñas</a>
        </li>
        <li class="flex flex-col items-center gap-3">
            <h3 class="text-stone-300 text-3xl pb-2">Legal</h3>
            <a class="text-xl text-stone-400 hover:scale-105 hover:text-stone-300 hover:text-shadow-lg transition-all" href="">Términos y condiciones</a>
            <a class="text-xl text-stone-400 hover:scale-105 hover:text-stone-300 hover:text-shadow-lg transition-all" href="">Política de privacidad</a>
        </li>
        <li class="flex flex-col items-center gap-3">
            <h3 class="text-stone-300 text-3xl pb-2">Redes Sociales</h3>
            <a class="text-xl text-stone-400 hover:scale-105 hover:text-stone-300 hover:text-shadow-lg transition-all" href="">Facebook</a>
            <a class="text-xl text-stone-400 hover:scale-105 hover:text-stone-300 hover:text-shadow-lg transition-all" href="">Twitter/X</a>
            <a class="text-xl text-stone-400 hover:scale-105 hover:text-stone-300 hover:text-shadow-lg transition-all" href="">Instagram</a>
        </li>
    </ul>
</div>
