@if (isOpen) {
    <div (click)="close()" class="absolute inset-0 bg-black/40  flex justify-center items-center z-50">
        <div (click)="$event.stopPropagation()" class="bg-zinc-700 rounded-lg p-6 w-full max-w-lg relative my-5">
                <button (click)="close()" class="absolute top-5 right-5 text-white hover:text-red-400 text-xl transition-colors font-bold">x</button>
                <h2 class="text-2xl text-white font-bold mb-4 text-center">Crear biblioteca</h2>
                <form [formGroup]="libraryForm" class="flex flex-col items-center gap-4">
                    <div class="flex flex-col min-w-full gap-4">
                        <fieldset>
                            <label class="text-white font-bold mb-4">Titulo:</label>
                            <input formControlName="name" class="w-full bg-zinc-800 p-2 rounded-lg inset-shadow-sm inset-shadow-zinc-900 hover:inset-shadow-none hover:shadow-lg/20 hover:shadow-zinc-900 focus:outline-0 focus:shadow-zinc-900 focus:shadow-lg/20 focus-within:ring-2 focus-within:ring-amber-400 transition-all ease-out text-white" type="text" placeholder="Crea un titulo para tu biblioteca personalizada">
                        </fieldset>
                        <fieldset>
                            <label class="text-white font-bold mb-4">Color:</label>
                            <input formControlName="color"
                                    type="color"
                                    class="w-full h-12 rounded-lg cursor-pointer p-1 border-none" />
                        </fieldset>
                        <fieldset>
                            <label class="text-white font-bold mb-4">Descripcion:</label>
                            <textarea formControlName="description" class="w-full min-h-30 bg-zinc-800 p-2 rounded-lg inset-shadow-sm inset-shadow-zinc-900 hover:inset-shadow-none hover:shadow-lg/20 hover:shadow-zinc-900 focus:outline-0 focus:shadow-zinc-900 focus:shadow-lg/20 focus-within:ring-2 focus-within:ring-amber-400 transition-all ease-out text-white" type="text" placeholder="(Opcional)"></textarea>
                        </fieldset>
                    </div>
                    <button [disabled]="libraryForm.invalid" (click)="createLibrary()" class="mt-1 bg-amber-500 text-white px-4 py-2 rounded-lg cursor-pointer hover:bg-amber-600 hover:shadow-lg/30 hover:-translate-y-1 transition-all ease-in-out">Crear biblioteca</button>
                </form>
                
        </div> 
    </div>
}