<div class="h-screen flex flex-row justify-center bg-gradient-to-b from-zinc-700 to-zinc-800 overflow-hidden">
    <div class="w-3/4 bg-zinc-700 border-l-1 border-r-1 border-l-zinc-800 border-r-zinc-800 shadow-2xl shadow-zinc-900 ocultar-scroll overflow-y-auto">
        <div class="flex flex-col items-center p-10 gap-3 rounded-b-2xl bg-zinc-900">
            <div class="flex flex-row justify-items-start w-full">
                <button routerLink="../../dashboard" class="p-1 rounded-full cursor-pointer hover:bg-zinc-600 hover:scale-105 transition-all ease-in-out"><img src="arrow_left.svg" alt=""></button>
            </div>
            <img class="w-36 rounded-full" [src]="user.profilePic || 'userDef.png'" alt="User profile photo">
            <p class="text-white font-bold line-clamp-1">{{ user.fullName }}</p>
            <p class="text-white opacity-80 font-light line-clamp-1">{{ '@' + user.username }}</p>
            <div class="flex flex-row gap-4">
                <p class="text-white text-lg opacity-75 font-light">Seguidores: {{ user.followers }}</p>
                <p class="text-white text-lg opacity-75 font-light">Seguidos: {{ user.following }}</p>
            </div>
            <div class="max-w-3/5 mb-6">
                @if (user.biography != '') {
                    <p class="text-white text-lg font-medium w-full text-wrap text-center">{{ user.biography }}</p>
                } @else {
                    <p class="text-white opacity-70 text-lg font-medium w-full">Este usuario no tiene biografia</p>
                }
            </div>
            <div class="flex flex-row gap-4">
                @if (user.userId === currentUser?.userId) {
                    <button routerLink="../../user-config" class="border-1 border-zinc-600 text-white text-l rounded-3xl p-2 cursor-pointer hover:bg-zinc-500 transition-colors ease-in-out">Configurar perfil</button>
                    <button routerLink="../../create-review" class="bg-gradient-to-r from-amber-600 to-amber-400 text-white text-l rounded-3xl p-2 cursor-pointer hover:contrast-125 transition-all ease-in-out">Crear reseña</button>
                } @else {
                    <button routerLink="../../create-review" class="bg-gradient-to-r from-amber-600 to-amber-400 text-white text-l rounded-3xl py-2 px-4 cursor-pointer hover:contrast-125 transition-all ease-in-out">Seguir</button>
                }
            </div>
        </div>
        <div class="flex flex-col flex-wrap items-center">
            @for (review of reviews; track $index) {
                <section class="flex flex-col gap-7 w-11/12 rounded-3xl bg-zinc-700 border-1 border-zinc-600 shadow-xs shadow-zinc-500 shadow-xl/30 transition-all p-5 m-6 hover:contrast-110 cursor-pointer ease-out">
                <div (click)="routesService.goReview(review.id)">
                    <div class="flex flex-row justify-between items-center pb-3">
                            <div class="items-center flex flex-row gap-3 pb-3">
                                <img class="rounded-full w-10 h-10" [src]="review.profilepic_url || 'userDef.png'"  alt="User profile photo">
                                <div class="flex flex-col hover:cursor-pointer">
                                    <p class="text-white font-bold hover:underline hover:cursor-pointer">{{ review.full_name }}</p>
                                    <p class="text-white opacity-80 font-light">{{ '@' + review.username }}</p>
                                </div>
                            </div>
                            @if (review.username === currentUser?.username) {
                                <div (click)="$event.stopPropagation()" class="relative inline-block text-left z-100" #menuContainer>
                                    <button (click)="toggleMenu($index)" class="p-2 cursor-pointer rounded-full hover:bg-zinc-800 transition-colors ease-in"><img src="more_menu.svg" alt=""></button>
                                    @if (menuToggle === $index) {
                                        <div class="absolute right-0 z-50 bg-zinc-800 text-white rounded-md shadow-lg w-48">
                                            <ul class="py-1">
                                                <li (click)="reviewActionsService.editReview(menuToggle, reviews)" class="px-4 py-2 hover:contrast-75 cursor-pointer">Editar</li>
                                                <li (click)="reviewActionsService.delReview(menuToggle, reviews, user)" class="px-4 py-2 hover:contrast-75 cursor-pointer">Eliminar</li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    <p class="text-white text-xl font-bold pb-2"> {{ review.title }}</p>
                    <p class="text-white opacity-85 pb-2 italic">Puntuacion: {{ review.score }} ⭐</p>
                    <p class="text-white line-clamp-15">
                        {{ review.content }}
                    </p>
                </div>
                <div class="p-2">
                        <ul class="flex flex-row gap-2">
                            <li class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                <img class="w-5 h-5" src="comments.svg" alt="">
                                <p class="text-white">{{ review.comments_count }}</p>
                            </li>
                            <li (click)="reviewActionsService.toggleLikeReview(review.liked_by_current_user ?? false, currentUser?.userId, review.id, reviews)" class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                @if (review.liked_by_current_user) {
                                    <img src="liked.svg" alt="">
                                } @else {
                                    <img class="w-5 h-5" src="favorites.svg" alt="">
                                }
                                <p class="text-white">{{ review.like_count }}</p>
                            </li>
                            <li (click)="reviewActionsService.toggleSaveReview(review.saved_by_current_user ?? false, user.userId, review.id, reviews)" class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                @if (review.saved_by_current_user) {
                                    <img src="bookmarked.svg" alt="Icono de guardado">
                                } @else {
                                    <img class="w-5 h-5" src="bookmarkRev.svg" alt="Icono de guardados">
                                }
                                <p class="text-white">{{ review.saved_count }}</p>
                            </li>
                        </ul>
                    </div>
            </section>
            }
        </div>
    </div>
</div>