@if (isOpen) {
    <div (click)="close()" class="absolute max-h-screen inset-0 bg-black/40 flex justify-center items-center z-50">
        <div (scroll)="onScroll($event)" (click)="$event.stopPropagation()" class="bg-zinc-700 rounded-xl p-6 w-full max-w-4xl max-h-4/5 relative overflow-y-scroll ocultar-scroll">
            @if(mainPage){
                <button (click)="close()" class="z-100 absolute text-white hover:text-red-400 text-xl transition-colors font-bold">✕</button>
                <button (click)="openConfiguration()" class="p-2 cursor-pointer absolute right-5 top-6 rounded-full hover:bg-zinc-800 transition-colors ease-in"><img src="settings.svg" alt=""></button>
                @if (showFloatingTitle && mainPage) {
                    <div class="fadeIn sticky z-150 top-0 w-full rounded-full bg-zinc-800 p-2 shadow-lg/20 text-center text-white font-bold text-lg">
                        {{ book.title }}
                    </div>
                }
                <div class="grid grid-cols-2 justify-evenly items-center w-11/12 gap-1 max-h-3xl">
                    <div class="flex flex-col justify-evenly gap-2 items-center">
                        <img [src]="book.thumbnail_url" alt="{{ book.title }}" class="rounded-2xl w-60 h-90">
                        <div class="flex flex-row justify-evenly items-center w-full">
                            <img src="progress.svg" alt="Icono de progreso" class="w-8 h-8">
                            <p class="text-lg text-white opacity-90">Progreso:</p>
                            <div class="w-60 h-2 bg-gray-300 rounded-full">
                                <div class="bg-gradient-to-r from-0% from-amber-700 to-50% to-amber-400 h-full rounded-full max-w-full transition-all duration-100" [style.width.%]="(book.actual_page / book.num_pages) * 100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center items-center overflow-y-scroll max-h-full p-3 ocultar-scroll">
                        <div class="flex flex-col gap-2">
                            <h2 #mainTitle class="text-3xl font-bold text-white text-center mb-2">{{ book.title }}</h2>
                            <div class="flex justify-evenly items-center">
                                <p class="text-lg text-white opacity-90 mb-2">Paginas: {{ book.num_pages }}</p>
                                <p class="text-lg text-white opacity-90 mb-2">Generos: {{ book.categories?.join(', ') }}</p>
                            </div>
                            <div>
                                <p class="text-lg text-white mb-2">Estatus: <span class="bg-zinc-800 rounded-full hover:shadow-xl/30 hover:shadow-zinc-800 py-2 px-4 transition-shadow ease-in">{{ book.status }}</span></p>
                            </div>
                            <div class="flex flex-col gap-2 justify-evenly">
                                <div class="flex flex-row items-center gap-1">
                                    <img src="author.svg" alt="Icono de autor">
                                    <p class="text-yellow-400 font-semibold">Autor(es): {{ book.authors?.join(', ') }}</p>
                                </div>
                                <div class="flex flex-row items-center gap-1">
                                    <img src="desc.svg" alt="Icono de descripcion">
                                    <p class="text-yellow-400 font-semibold">Descripcion:</p>
                                </div>
                                <p class="text-gray-300 text-lg text-justify">{{ book.description }}</p>
                                <div class="flex flex-row gap-2 items-center justify-between">
                                    <p class="text-white mb-2">Pagina actual:</p><input type="number" [(ngModel)]="book.actual_page" min="0" max="{{ book.num_pages }}" value="{{ book.actual_page }}" class="w-full p-2 rounded-lg bg-zinc-800 text-white focus:outline-none focus:ring-2 focus:ring-yellow-400 transition-all">
                                    <button (click)="updateActualPages()" class="w-1/4 py-2 cursor-pointer bg-amber-500 hover:bg-amber-600 text-gray-700 rounded-lg transition duration-300">Confirmar</button>
                                </div>
                            </div>
                            <div class="flex flex-col gap-2">
                                <div class="flex flex-row items-center justify-between">
                                    <h2 class="text-lg text-white">Librerias:</h2>
                                    <button (click)="openLibraryModal()" class="p-1 cursor-pointer bg-amber-500 hover:bg-amber-600 text-gray-700 rounded-lg transition duration-300">Agregar biblioteca</button>
                                </div>
                                @if (bookLibraries.length) {
                                    @for (library of bookLibraries; track $index) {
                                        <div class="bg-gradient-to-r from-35% from-zinc-700 to-120% to-amber-500 p-4 rounded-lg flex items-center hover:contrast-105 transition-all">
                                            <div class="w-10 h-10 bg-gradient-to-r from-amber-600 to-amber-400 text-white rounded-lg flex items-center justify-center">{{ library.abreviation }}</div>
                                            <div class="ml-4 flex-1">
                                                <h3 class="font-medium text-white">{{ library.name }}</h3>
                                                <p class="text-sm text-white opacity-80">{{ library.book_count }} libros en esta libreria</p>
                                            </div>
                                            <button (click)="removeLibrary(library.id, $index)" type="button" class="cursor-pointer font-bold"><img src="remove.svg" alt=""></button>
                                        </div>
                                    }
                                } @else {
                                    <p class="text-sm text-white opacity-80 text-center">Este libro no esta guardado en ninguna libreria</p>
                                }
                            </div>
                        </div>
                        @if(changeLibrary){
                            <div class="absolute max-h-full inset-0 bg-black/60  flex justify-center items-center z-70">
                                <div class="relative w-xl h-96 bg-zinc-700 rounded-xl p-6">
                                    <button (click)="changeLibrary = false" class="absolute left-5 text-white hover:text-red-400 text-xl transition-colors font-bold">x</button>
                                    <h2 class="text-xl text-white font-bold text-center">Agregar biblioteca</h2>
                                    <div class="flex flex-col gap-2 py-4">
                                        <p class="text-white font-medium text-lg">Bibliotecas</p>
                                        <input type="text" placeholder="Busca una de tus librerias personalizadas" class="w-full bg-zinc-800 p-2 rounded-lg inset-shadow-sm inset-shadow-zinc-900 hover:inset-shadow-none hover:shadow-lg/20 hover:shadow-zinc-900 focus:outline-0 focus:shadow-zinc-900 focus:shadow-lg/20 focus-within:ring-2 focus-within:ring-amber-400 transition-all ease-out text-white">
                                    </div>
                                    <div class="flex flex-col gap-1.5">
                                        <ul class="bg-zinc-800 rounded-lg mt-2 max-h-50 overflow-y-auto">
                                            @if(libraries.length){
                                                @for (library of libraries; track $index) {
                                                    <li (click)="addbookToLib(library.id)" class="p-2 flex flex-row gap-2 items-center hover:bg-zinc-600 transition-colors cursor-pointer">
                                                        <div class="w-10 h-10 bg-gradient-to-r from-amber-600 to-amber-400 text-white rounded-lg flex items-center justify-center">{{ library.abreviation }}</div>
                                                        <div class="flex flex-col w-4/5 gap-1 p-2">
                                                            <p class="text-white text-center font-bold text-lg line-clamp-2">{{ library.name }}</p>
                                                            <p class="text-white font-medium text-sm">{{ library.book_count }} libros en esta libreria</p>
                                                            @if (library.description) {
                                                                <p class="text-white text-md font-medium opacity-80 line-clamp-3 text-justify">{{ library.description }}</p>
                                                            } @else {
                                                                <p class="text-sm text-white opacity-80 text-center">Esta libreria no tiene ninguna descripcion</p>
                                                            }
                                                        </div>
                                                    </li>
                                                }
                                            } @else {
                                                <p class="text-white opacity-80 text-center p-4">No tienes ninguna libreria creada actualmente</p>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="px-5 pb-3">
                    <div class="flex flex-row items-center justify-between">
                        <h2 class="text-2xl font-medium text-white pb-3">Citas</h2>
                        <img (click)="toggleQuotes()" src="arrowDown.svg" [class]="isQuotesOpen ? 'rotate-180' : 'rotate-0'" class="cursor-pointer transition-transform">
                    </div>
                    @if (isQuotesOpen) {
                        <div class="flex flex-col gap-4">
                            @if (bookQuotes.length === 0) {
                                @if (!createNewQuote) {
                                    <div class="flex flex-col items-center justify-center bg-zinc-800 p-4 rounded-lg border-l-4 border-amber-600 border-r-4 shadow-sm/10">
                                        <p class="text-white font-medium text-center">Aun no tienes citas de este libro. Crea una y visualizala aqui!</p>
                                        <button (click)="createNewQuote = true" class="cursor-pointer mt-4 bg-amber-500 hover:bg-amber-600 text-white font-semibold py-2 px-4 rounded-lg transition duration-300">
                                            Añadir cita
                                        </button>
                                    </div>
                                } @else {
                                    <div class="bg-zinc-800 p-4 rounded-lg border-l-4 border-amber-600 shadow-sm">
                                        <textarea [formControl]="quoteInput" class="text-white p-2 italic w-full focus:outline-none focus:ring-1 focus:ring-yellow-400 rounded-2xl transition-all" placeholder='"Escribe tu cita aqui"'></textarea>
                                        <div class="mt-2 flex items-center justify-between">
                                            <div class="mt-2 flex items-center">
                                                <div class="w-8 h-8 bg-gradient-to-br from-yellow-400 to-orange-500 rounded-md flex items-center justify-center text-white text-xs">A</div>
                                                <div class="ml-3">
                                                    <p class="text-sm font-medium text-white opacity-80">{{ book.title }}</p>
                                                    <p class="text-xs text-white opacity-70">{{ book.authors.join(', ') }}</p>
                                                </div>
                                            </div>
                                            <button (click)="submitQuote()" class="w-6 h-6 rounded-full bg-emerald-700 flex items-center cursor-pointer justify-center scale-110 hover:bg-emerald-800 hover:scale-125 transition-all"><img src="checkmark.svg" alt="confirmar"></button>
                                        </div>
                                    </div>
                                }
                            } @else {
                                @for (quote of bookQuotes; track $index) {
                                    <div class="bg-zinc-800 p-4 rounded-lg border-l-4 border-amber-600 shadow-sm">
                                        @if (editQuote && editIndex === $index) {
                                            <textarea [(ngModel)]="editedQuote" class="text-white p-2 italic w-full focus:outline-none focus:ring-1 focus:ring-yellow-400 rounded-2xl transition-all"></textarea>
                                            <div class="mt-2 flex items-center gap-3 flex-row">
                                                <p class="text-sm font-light text-white italic opacity-80">Pagina: </p>
                                                <input type="number" [(ngModel)]="editedPage" min="1" class="bg-transparent border-b border-white text-white w-16 focus:outline-none focus:ring-1 focus:ring-yellow-400 rounded transition-all">
                                            </div>
                                        } @else {
                                            <p class="text-white italic">"{{ quote.content }}"</p>
                                            <p class="text-sm font-light text-white italic opacity-80 mt-1">Pagina: {{ quote.num_page }}</p>
                                        }
                                        <div class="flex justify-between items-center mt-2">
                                            <div class="mt-2 flex items-center">
                                                <div class="w-8 h-8 bg-gradient-to-br from-yellow-400 to-orange-500 rounded-md flex items-center justify-center text-white text-xs">A</div>
                                                <div class="ml-3">
                                                    <p class="text-sm font-medium text-white opacity-80">{{ book.title }}</p>
                                                    <p class="text-xs text-white opacity-70">{{ book.authors.join(', ') }}</p>
                                                </div>
                                            </div>
                                            <div class="gap-2 relative inline-block text-left z-100">
                                                @if (editQuote && editIndex === $index) {
                                                    <div class="flex flex-row gap-3">
                                                        <button (click)="toggleEdit($index)" class="w-6 h-6 rounded-full bg-red-700 flex items-center cursor-pointer justify-center scale-110 hover:bg-red-800 hover:scale-125 transition-all"><img src="closeBtn.svg" alt="Cerrar"></button>
                                                        <button (click)="submitEditedQuote(quote.id)" class="w-6 h-6 rounded-full bg-emerald-700 flex items-center cursor-pointer justify-center scale-110 hover:bg-emerald-800 hover:scale-125 transition-all"><img src="checkmark.svg" alt="confirmar"></button>
                                                    </div>
                                                } @else {
                                                    <button (click)="toggleMenu($index)" class="p-2 cursor-pointer rounded-full hover:bg-zinc-700 transition-colors ease-in"><img src="more_menu.svg" alt=""></button>
                                                    @if (menuToggle === $index) {
                                                        <div class="absolute right-0 z-20 bg-zinc-700 text-white rounded-md shadow-lg w-48">
                                                            <ul class="py-1">
                                                                <li (click)="toggleEdit($index)" class="px-4 py-2 hover:contrast-75 cursor-pointer">Editar</li>
                                                                <li (click)="deleteQuote(quote.id)" class="px-4 py-2 hover:contrast-75 cursor-pointer">Eliminar</li>
                                                            </ul>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (!createNewQuote) {
                                    <button (click)="createNewQuote = true" class="px-3 py-1.5 bg-amber-500 hover:bg-amber-600 text-white rounded-lg shadow transition duration-300 flex items-center justify-center mx-auto cursor-pointer">
                                        <p class="text-2xl font-extrabold mr-4">+</p><p>Agregar cita</p> 
                                    </button>
                                } @else {
                                    <div class="bg-zinc-800 p-4 rounded-lg border-l-4 border-amber-600 shadow-sm">
                                        <textarea [formControl]="quoteInput" class="text-white p-2 italic w-full focus:outline-none focus:ring-1 focus:ring-yellow-400 rounded-2xl transition-all" placeholder='"Escribe tu cita aqui"'></textarea>
                                        <div class="gap-2 relative inline-block text-left z-100 mt-2">
                                            <div class="flex flex-row gap-3">
                                                <p class="text-sm font-light text-white italic opacity-80">Pagina: </p>
                                                <input type="number" [(ngModel)]="editedPage" min="1" class="bg-transparent border-b border-white text-white w-16 focus:outline-none focus:ring-1 focus:ring-yellow-400 rounded transition-all">
                                            </div>
                                        </div>
                                        <div class="mt-2 flex items-center justify-between">
                                            <div class="mt-2 flex items-center">
                                                <div class="w-8 h-8 bg-gradient-to-br from-yellow-400 to-orange-500 rounded-md flex items-center justify-center text-white text-xs">A</div>
                                                <div class="ml-3">
                                                    <p class="text-sm font-medium text-white opacity-80">{{ book.title }}</p>
                                                    <p class="text-xs text-white opacity-70">{{ book.authors.join(', ') }}</p>
                                                </div>
                                            </div>
                                            <div class="flex flex-row gap-3">
                                                <button (click)="createNewQuote = false" class="w-6 h-6 rounded-full bg-red-700 flex items-center cursor-pointer justify-center scale-110 hover:bg-red-800 hover:scale-125 transition-all"><img src="closeBtn.svg" alt="Cerrar"></button>
                                                <button (click)="submitQuote()" class="w-6 h-6 rounded-full bg-emerald-700 flex items-center cursor-pointer justify-center scale-110 hover:bg-emerald-800 hover:scale-125 transition-all"><img src="checkmark.svg" alt="confirmar"></button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            } 
                        </div>
                    }
                </div>
                <div class="px-5">
                    <div class="flex flex-row items-center justify-between">
                        <h2 class="text-2xl font-medium text-white pb-3">Resumen</h2>
                        <img (click)="toggleResume()" src="arrowDown.svg" [class]="isSummaryOpen ? 'rotate-180' : 'rotate-0'" class="cursor-pointer transition-transform">
                    </div>
                    @if (isSummaryOpen) {
                        <textarea class="text-white w-full text-lg focus:outline-none resize-none" [formControl]="summaryControl" (input)="ajustarAltura()" #autoTextarea placeholder="Escribe aqui tu resumen de este libro..." [value]="book.summary"></textarea>
                    }
                </div>
            } @else {
                <button (click)="closeConfiguration()" class="p-1 rounded-full cursor-pointer hover:bg-zinc-600 hover:scale-105 transition-all ease-in-out"><img src="arrow_left.svg" alt=""></button>
                <app-book-settings #bookSettings [book]="book" (closeConfig)="mainPage"></app-book-settings>
            }
        </div>
    </div>
}