<app-header></app-header>
<div class="bg-[url('assets/libreria.jpg')] h-screen flex flex-col justify-center items-center bg-cover bg-fixed">
    <h1 class="text-7xl text-center text-shadow-lg text-white">Bookverse</h1> 
    <p class="text-5xl p-12 text-center text-clip text-shadow-lg text-white">Una pagina donde puedes ver reseñas de todo tipo de libros y generos</p>
</div> 
<div id="abt-sect" class="p-8 bg-gradient-to-tr from-stone-950 to-zinc-900 flex flex-row items-center shadow-2xl shadow-zinc-950">
    <div class="w-2/4 pl-2.5">
        <h3 class="bg-gradient-to-r from-amber-700 from-10% to-amber-500 bg-clip-text text-6xl font-extrabold text-transparent py-16 text-center">Sobre Bookverse</h3>
        <p class="text-zinc-200 text-3xl pb-8 text-center">BookVerse es tu universo personal de libros. Ya seas un lector ocasional o un amante empedernido de la lectura, en BookVerse puedes:</p>
        <ul class="pb-12">
            <li class="text-white text-2xl font-bold opacity-60">- Calificar y reseñar tus libros favoritos</li>
            <li class="text-white text-2xl font-bold opacity-60">- Llevar un registro de lo que has leido y lo que quieres leer</li>
            <li class="text-white text-2xl font-bold opacity-60">- Descubrir joyas ocultas recomendadas por otros lectores</li>
        </ul>
        <p class="text-zinc-200 text-2xl text-center">Nuestra misión es hacer que la lectura sea más interactiva y significativa, ayudando a las personas a conectar con sus libros, sus ideas y otros lectores.
</p>
    </div>
    <div class="flex justify-center items-center h-1/2 w-1/2">
        <img src="libreria-2.jpg" alt="Bookverse libreria" class="w-3/4 h-auto rounded-3xl shadow-xs shadow-white"> 
    </div>
</div>
<div id="rev-sect" class="p-8 bg-gradient-to-br from-stone-950 to-zinc-900">
    <h3 class="text-center text-6xl bg-gradient-to-r from-amber-700 from-10% to-amber-500 bg-clip-text font-extrabold text-transparent py-">Reseñas populares mas recientes</h3>
    <app-cards-slider></app-cards-slider>
</div>
<app-footer></app-footer>