<div class="flex flex-row justify-items-start w-full px-2 pt-3">
    <button (click)="setSection('book tracker')" class="p-1 rounded-full cursor-pointer hover:bg-zinc-600 hover:scale-105 transition-all ease-in-out"><img src="arrow_left.svg" alt=""></button>
</div>
<div class="px-10 p-5 flex flex-col flex-wrap gap-3">
    <div class="flex flex-col items-center mb-8">
        <h1 class="text-4xl font-bold text-center text-white">Mis Bibliotecas Personalizadas</h1>
        <p class="text-white mt-2">Gestiona y organiza tu colección personal de libros</p>
    </div>
    @if (booksQuotes.length !== 0) {
        @for (book of booksQuotes; track $index) {
            <div class="flex flex-col gap-8 w-full pb-8 bg-zinc-600 rounded-3xl">
                <div class="bg-amber-500 flex flex-col justify-between gap-2 p-3 rounded-t-3xl shadow-lg/30">
                    <div class="w-full flex flex-row justify-between items-center">
                        <h2 class="text-2xl font-medium text-white">- {{ book.title }}</h2>
                        <button class="p-2 cursor-pointer rounded-full hover:bg-black/20 transition-colors ease-in"><img src="more_menu.svg" alt=""></button>
                    </div>
                    <div class="w-full flex flex-row justify-between">
                        <p class="pl-5 w-1/2 text-white opacity-90">Autor(es): {{ book.authors?.join(', ') }}</p>
                        <p class="text-xl font-normal text-white opacity-90">Citas: {{ book.quotes?.length }}</p>
                    </div>
                </div>
                @if (book.quotes.length) {
                    <div class="flex flex-row w-full flex-wrap justify-evenly p-3 gap-3">
                        @for (quote of book.quotes; track $index) {
                            <div class="bg-zinc-800 flex flex-col justify-evenly p-4 rounded-lg border-l-4 border-amber-600 max-w-lg shadow-sm">
                                @if (editQuote && editIndex === $index) {
                                    <textarea [(ngModel)]="editedQuote" class="text-white p-2 italic w-full focus:outline-none focus:ring-1 focus:ring-yellow-400 rounded-2xl transition-all"></textarea>
                                    <div class="gap-2 relative inline-block text-left z-100 mt-2">
                                        <div class="flex flex-row gap-3">
                                            <p class="text-sm font-light text-white italic opacity-80">Pagina: </p>
                                            <input type="number" [(ngModel)]="editedPage" min="1" class="bg-transparent border-b border-white text-white w-16 focus:outline-none focus:ring-1 focus:ring-yellow-400 rounded transition-all">
                                        </div>
                                    </div>
                                } @else {
                                    <p class="text-white italic">"{{ quote.content }}"</p>
                                    <p class="text-sm font-light text-white italic opacity-80 mt-1">Pagina: {{ quote.num_page }}</p>
                                }
                                <div class="flex justify-between items-center mt-2">
                                    <div class="mt-2 flex items-center">
                                        <div class="w-8 h-8 bg-gradient-to-br from-yellow-400 to-orange-500 rounded-md flex items-center justify-center text-white text-xs">A</div>
                                        <div class="ml-3">
                                            <p class="text-sm font-medium text-white opacity-80">{{ book.title }}</p>
                                            <p class="text-xs text-white opacity-70">{{ book.authors?.join(', ') }}</p>
                                        </div>
                                    </div>
                                    <div class="gap-2 relative inline-block text-left z-100">
                                        @if (editQuote && editIndex === $index) {
                                            <div class="flex flex-row gap-3">
                                                <button (click)="toggleEdit($index, quote.id)" class="w-6 h-6 rounded-full bg-red-700 flex items-center cursor-pointer justify-center scale-110 hover:bg-red-800 hover:scale-125 transition-all"><img src="closeBtn.svg" alt="Cerrar"></button>
                                                <button (click)="submitEditedQuote(quote.id)" class="w-6 h-6 rounded-full bg-emerald-700 flex items-center cursor-pointer justify-center scale-110 hover:bg-emerald-800 hover:scale-125 transition-all"><img src="checkmark.svg" alt="confirmar"></button>
                                            </div>
                                        } @else {
                                            <button (click)="toggleMenu($index)" class="p-2 cursor-pointer rounded-full hover:bg-zinc-700 transition-colors ease-in"><img src="more_menu.svg" alt=""></button>
                                            @if (menuToggle === $index) {
                                                <div class="absolute right-0 z-20 bg-zinc-700 text-white rounded-md shadow-lg w-48">
                                                    <ul class="py-1">
                                                        <li (click)="toggleEdit($index, quote.id)" class="px-4 py-2 hover:contrast-75 cursor-pointer">Editar</li>
                                                        <li (click)="deleteQuote(quote.id)" class="px-4 py-2 hover:contrast-75 cursor-pointer">Eliminar</li>
                                                    </ul>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                } @else {
                    <div class="flex flex-row flex-wrap gap-8 px-4">
                        <div class="w-full">
                            <p class="text-center text-white text-3xl opacity-70">No tienes citas de este libro</p>
                        </div>
                    </div>
                }
            </div>
        }
    } @else {
        <div class="flex flex-col gap-8 w-full pb-8 bg-zinc-600 rounded-3xl">
            <div class="flex flex-col bg-amber-500 justify-between gap-2 p-3 rounded-t-3xl shadow-lg/30">
                <div class="w-full flex flex-row justify-between items-center">
                    <h2 class="text-2xl font-medium text-white">- Libro</h2>
                </div>
                <div class="w-full flex flex-row justify-between">
                    <p class="pl-5 w-1/2 text-white opacity-90">Parece que por el momento no tienes ningun libro en tu Book Tracker. Empieza creando o agregando tus libros favoritos y visualizalos aqui!</p>
                    <p class="text-xl font-normal text-white opacity-90">Citas: 0</p>
                </div>
            </div>
            <div class="flex flex-row flex-wrap gap-8 px-4">
            </div>
        </div>
    }
</div>