<div class="h-screen flex flex-row bg-gradient-to-b from-zinc-700 to-zinc-800 overflow-hidden">
    <nav class="w-1/4 h-full flex flex-col items-center justify-evenly border-r-2 border-r-zinc-950 bg-zinc-800 shadow-xl shadow-zinc-900">
        @if (error) {
            <div class="w-1/2 flex flex-row gap-3 items-center bg-zinc-900 p-3 rounded-4xl hover:contrast-125 transition-all ease-in">
                <p class="text-white font-light text-center">{{ error }}</p>
                <a class="text-amber-500 opacity-90 text-center" routerLink="../login">Inicia sesion</a>
            </div>
        } @else if (message != '') {
            <div (click)="goProfile()" class="w-3/4 flex flex-row gap-3 items-center bg-zinc-900 p-3 rounded-4xl hover:contrast-125 transition-all ease-in cursor-pointer">
                <img class="w-16 rounded-full" src="userDef.png" alt="User profile photo">
                <div>
                    <p class="text-white font-bold line-clamp-1">{{ user.fullName }}</p>
                    <p class="text-white opacity-80 font-light line-clamp-1">{{ '@' + user.username }}</p>
                </div>
            </div>
        }
        <div class="w-3/4 h-3/6 flex flex-col items-center gap-7">
            <button class=" flex flex-row gap-3 items-center rounded-3xl p-3 w-60 cursor-pointer hover:scale-105 hover:bg-neutral-900 transition-all ease-in-out">
                <img class="w-7" src="home.svg">
                <p class="text-white text-2xl inline-block">Inicio</p>
            </button>
            <button class=" flex flex-row gap-3 items-center rounded-3xl p-3 w-60 cursor-pointer hover:scale-105 hover:bg-neutral-900 transition-all ease-in-out">
                <img class="w-7" src="search.svg">
                <p class="text-white text-2xl inline-block">Explorar</p>
            </button>
            <button class=" flex flex-row gap-3 items-center rounded-3xl p-3 w-60 cursor-pointer hover:scale-105 hover:bg-neutral-900 transition-all ease-in-out">
                <img class="w-7" src="notifications.svg">
                <p class="text-white text-2xl inline-block">Notificaciones</p>
            </button>
            <button class=" flex flex-row gap-3 items-center rounded-3xl p-3 w-60 cursor-pointer hover:scale-105 hover:bg-neutral-900 transition-all ease-in-out">
                <img class="w-7" src="bookmark.svg">
                <p class="text-white text-2xl inline-block">Guardados</p>
            </button>
            <button routerLink="../create-review" class="bg-gradient-to-r from-amber-600 to-amber-400 text-white text-xl rounded-3xl p-3 w-60 cursor-pointer hover:contrast-125 transition-all ease-in-out">
                Comparte tu opinion
            </button>
        </div>
    </nav>
    <div class="w-3/4 h-full overflow-y-auto flex flex-col items-center scrollbar-thin scrollbar-thumb-zinc-600 scrollbar-track-zinc-800">
        @for (review of reviews; track $index) {
            <section class="flex flex-col p-5 gap-7 w-11/12">
                <div class="rounded-3xl border-2 border-zinc-800 bg-zinc-700 p-5">
                    <div class="flex flex-row justify-between items-center pb-3">
                            <div class="flex flex-row gap-3 pb-3">
                                <img class="rounded-full w-12" src="userDef.png" alt="User profile photo">
                                <div class="flex flex-col">
                                    <p class="text-white font-bold">{{ review.users.full_name }}</p>
                                    <p class="text-white opacity-80 font-light">{{ '@' + review.users.username }}</p>
                                </div>
                            </div>
                            <div class="relative inline-block text-left" #menuContainer>
                                <button (click)="toggleMenu($index)" class="p-1 cursor-pointer rounded-full hover:bg-zinc-800 transition-colors ease-in"><img src="more_menu.svg" alt=""></button>
                                @if (menuToggle === $index) {
                                    <div class="absolute right-0 z-50 bg-zinc-800 text-white rounded-md shadow-lg w-48">
                                        <ul class="py-1">
                                            <li class="px-4 py-2 hover:contrast-75 cursor-pointer">Editar</li>
                                            <li class="px-4 py-2 hover:contrast-75 cursor-pointer">Eliminar</li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    <p class="text-white text-xl font-bold pb-2"> {{ review.title }}</p>
                    <p class="text-white opacity-85 pb-2 italic">Puntuacion: {{ review.score }} ⭐</p>
                    <p class="text-white">
                        {{ review.content }}
                    </p>
                </div>
            </section>
        }
    </div>
    <!--<nav class="w-1/4 h-full flex flex-col items-center justify-evenly border-l-2 border-l-zinc-950 bg-zinc-800">
        <div class="w-4/5 flex flex-col gap-5 border-2 border-neutral-900 rounded-2xl p-4">
            <p class="text-amber-500 opacity-90 font-bold text-2xl">Tendencias en reseñas y libros</p>
            <ul class="flex flex-col gap-3">
                <li class="p-2 rounded-2xl opacity-85 hover:opacity-100 hover:bg-neutral-900 transition-colors ease-in">
                    <a href="">
                        <p class="text-amber-300 font-light text-xl">Tendencia 1</p>
                        <p class="text-white opacity-85 font-extralight">Cant. de publicaciones</p>
                    </a>
                </li>
                <li class="p-2 rounded-2xl opacity-85 hover:opacity-100 hover:bg-neutral-900 transition-colors ease-in">
                    <a href="">
                        <p class="text-amber-300 font-light text-xl">Tendencia 2</p>
                        <p class="text-white opacity-85 font-extralight">Cant. de publicaciones</p>
                    </a>
                </li>
                <li class="p-2 rounded-2xl opacity-85 hover:opacity-100 hover:bg-neutral-900 transition-colors ease-in">
                    <a href="">
                        <p class="text-amber-300 font-light text-xl">Tendencia 3</p>
                        <p class="text-white opacity-85 font-extralight">Cant. de publicaciones</p>
                    </a>
                </li>
                <li class="p-2 rounded-2xl opacity-85 hover:opacity-100 hover:bg-neutral-900 transition-colors ease-in">
                    <a href="">
                        <p class="text-amber-300 font-light text-xl">Tendencia 4</p>
                        <p class="text-white opacity-85 font-extralight">Cant. de publicaciones</p>
                    </a>
                </li>
                <li class="p-2 rounded-2xl opacity-85 hover:opacity-100 hover:bg-neutral-900 transition-colors ease-in">
                    <a href="">
                        <p class="text-amber-300 font-light text-xl">Tendencia 5</p>
                        <p class="text-white opacity-85 font-extralight">Cant. de publicaciones</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="w-4/5 flex flex-col gap-5 border-2 border-neutral-900 rounded-2xl p-4">
            <p class="text-amber-500 opacity-90 font-bold text-2xl">Descubre a quien seguir</p>
            <ul>
                <li class="p-2 rounded-2xl opacity-85 hover:opacity-100 hover:bg-neutral-900 transition-colors ease-in cursor-pointer">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-row gap-3">
                            <img class="rounded-full w-11" src="userDef.png" alt="User profile photo">
                            <div class="flex flex-col">
                                <p class="text-white font-bold text-sm">Full Name</p>
                                <p class="text-white opacity-80 font-light">Username</p>
                            </div>
                        </div>
                        <button class="text-white bg-amber-400 p-2 rounded-3xl cursor-pointer hover:shadow-xl transition-shadow ease-in">Seguir</button>
                    </div>
                </li>
                <li class="p-2 rounded-2xl opacity-85 hover:opacity-100 hover:bg-neutral-900 transition-colors ease-in cursor-pointer">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-row gap-3">
                            <img class="rounded-full w-11" src="userDef.png" alt="User profile photo">
                            <div class="flex flex-col">
                                <p class="text-white font-bold text-sm">Full Name</p>
                                <p class="text-white opacity-80 font-light">Username</p>
                            </div>
                        </div>
                        <button class="text-white bg-amber-400 p-2 rounded-3xl cursor-pointer hover:shadow-xl transition-shadow ease-in">Seguir</button>
                    </div>
                </li>
                <li class="p-2 rounded-2xl opacity-85 hover:opacity-100 hover:bg-neutral-900 transition-colors ease-in cursor-pointer">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-row gap-3">
                            <img class="rounded-full w-11" src="userDef.png" alt="User profile photo">
                            <div class="flex flex-col">
                                <p class="text-white font-bold text-sm">Full Name</p>
                                <p class="text-white opacity-80 font-light">Username</p>
                            </div>
                        </div>
                        <button class="text-white bg-amber-400 p-2 rounded-3xl cursor-pointer hover:shadow-xl transition-shadow ease-in">Seguir</button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>-->