<div class="h-screen flex flex-row justify-center bg-[url('assets/libreria-bg.jpg')] bg-cover bg-fixed overflow-hidden">
    <div class="w-3/4 bg-zinc-700 shadow-2xl shadow-zinc-900 ocultar-scroll overflow-y-auto">
        <div class="flex flex-row p-7 justify-items-start w-full">
            <button routerLink="../../dashboard" class="p-1 rounded-full cursor-pointer hover:bg-zinc-600 hover:scale-105 transition-all ease-in-out"><img src="arrow_left.svg" alt=""></button>
        </div>
        <div class="flex flex-col flex-wrap items-center gap-4">
            <p class="text-white text-5xl font-medium pb-4">Reseñas guardadas</p>
            @if (reviews.length !== 0) {
                @for (review of reviews; track $index) {
                    <section class="flex flex-col gap-7 w-11/12 rounded-3xl bg-zinc-700 p-5 m-6 shadow-xl/30 hover:contrast-110 cursor-pointer transition-shadow ease-out">
                        <div (click)="goReview(review.id)">
                            <div class="flex flex-row justify-between items-center pb-3">
                                <div (click)="goProfile(review.user_id)" class="items-center flex flex-row gap-3 pb-3">
                                    <img class="rounded-full w-10 h-10" src="userDef.png" alt="User profile photo">
                                    <div class="flex flex-col hover:cursor-pointer">
                                        <p class="text-white font-bold hover:underline hover:cursor-pointer">{{ review.full_name }}</p>
                                        <p class="text-white opacity-80 font-light">{{ '@' + review.username }}</p>
                                    </div>
                                </div>
                                @if (review.username === user.username) {
                                    <div (click)="toggleMenu($index)" class="inline-block text-left z-100 p-3" #menuContainer>
                                        <button class="p-2 cursor-pointer rounded-full hover:bg-zinc-800 transition-colors ease-in"><img src="more_menu.svg" alt=""></button>
                                        @if (menuToggle === $index) {
                                            <div class="absolute right-0 z-50 bg-zinc-800 text-white rounded-md shadow-lg w-48">
                                                <ul class="py-1">
                                                    <li (click)="editReview()" class="px-4 py-2 hover:contrast-75 cursor-pointer">Editar</li>
                                                    <li (click)="delReview()" class="px-4 py-2 hover:contrast-75 cursor-pointer">Eliminar</li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                            <p class="text-white text-xl font-bold pb-2"> {{ review.title }}</p>
                            <p class="text-white opacity-85 pb-2 italic">Puntuacion: {{ review.score }} ⭐</p>
                            <p class="text-white line-clamp-15">
                                {{ review.content }}
                            </p>
                        </div>
                        <div class="p-2">
                                <ul class="flex flex-row gap-2">
                                    <li (click)="goReview(review.id)" class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                        <img class="w-5 h-5" src="comments.svg" alt="">
                                        <p class="text-white">{{ review.comments_count }}</p>
                                    </li>
                                    <li (click)="toggleLikeReview(review.liked_by_current_user, user.userId, review.id)" class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                        @if (review.liked_by_current_user) {
                                            <img src="liked.svg" alt="">
                                        } @else {
                                            <img class="w-5 h-5" src="favorites.svg" alt="">
                                        }
                                        <p class="text-white">{{ review.like_count }}</p>
                                    </li>
                                    <li (click)="toggleSaveReview(review.saved_by_current_user, user.userId, review.id)" class="flex flex-row items-center gap-1.5 p-2 rounded-full hover:bg-zinc-800 hover:shadow-xl/30 transition-all ease-in">
                                        @if (review.saved_by_current_user) {
                                            <img src="bookmarked.svg" alt="Icono de guardado">
                                        } @else {
                                            <img class="w-5 h-5" src="bookmarkRev.svg" alt="Icono de guardados">
                                        }
                                        <p class="text-white">{{ review.saved_count }}</p>
                                    </li>
                                </ul>
                            </div>
                    </section>
                }
            } @else {
                <div class="w-full h-full flex items-center justify-center">
                    <div class="spinner border-4 border-divider border-zinc-400 border-t-amber-400 rounded-full w-[50px] h-[50px] animate-spin"></div>
                </div>
            }
        </div>
    </div>
</div>